.form {
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-top: 1.50rem;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #111;
  border: 1px solid #111;
  color: #fff;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
